# Exclude large data directories
/data/
/output_8sbefore_2safter/
/training_data_analyze_results/
/lc_llm/outputs/
/venv/
/__pycache__/
/.idea/
*.json
convert_to_phi2.py
/output_4sbefore_2safter
data_leakage_check.py
*.pickle
traj_analyze.py
pal_sample_generation/data_check.py
pal_sample_generation/poly_all.py
pal_sample_generation/polynomial_smaple_inputs.py
pal_sample_generation/polynomial_fit.py
pal_sample_generation/mixedmodels_fit.py
pal_sample_generation/trajectory_fitting_results.csv
pal_sample_generation/labelling_sam_1.py
*.png
